.main-section {
  height: 800px;
  background: #f0f0f0;
  padding-top: 16px;
}

.main-section .main-section__nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 69px;
  align-items: center;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.nav-menu .nav-menu__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-menu .nav-menu__list .nav-menu__list-item{
  font-size: 18px;
  margin-right: 64px;
}

.nav-menu .nav-menu__list .nav-menu__list-item:last-child{
  margin-right: 0px;
}